<div class="tablet">
  <div class="menu" style="position: fixed;"><i>Tablet</i></div>
  <br><br>
    <div><a id="back" routerLink="/product" class="btn btn-secondary" >Back to Products</a></div>

    <div><a id="back" routerLink="/product" class="btn btn-secondary" >Back to Products</a></div>
    
        <div class="col-md-8">
    <div class="l1">
    <img class="hpImg card-img-top" src="../../assets/Tablet/apple.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="cardTitle card-title"><span style="color: crimson; font-weight: 700;">Apple 2021 iPad Pro M1 chip</span></h3>
      <h4><p class="cardInfo card-text">Apple 2021 iPad Pro M1 chip (11-inch/27.96 cm, Wi-Fi + Cellular, 1TB) - Space Grey (3rd Generation)</p></h4>
    </div>
    </div>
    <hr>
    
    <div class="l2">
      <img class="aplImg card-img-top" src="../../assets/Tablet/lenovo.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="cardTitle card-title">Lenovo Tab M10 FHD 3rd Gen</h5>
        <h4><p class="cardInfo card-text">Lenovo Tab M10 FHD 3rd Gen (10.1 inch (25.65 cm), 4 GB, 64 GB, Wi-Fi), Storm Grey</p></h4>
      </div>
      </div>
      <hr>
    
    
    <div class="l3">
    <img class="delImg card-img-top" src="../../assets/Tablet/samsung.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="cardTitle card-title">Samsung</h5>
      <h4><p class="cardInfo card-text">Samsung Galaxy S6 Lite Tab | 26.31cm (10.4") Display | Octa-Core Processor | 7,040mAh Battery | Dolby Atmos | Android 12 | 4GB+64GB | Wi-Fi + LTE | S Pen Support</p></h4>
    </div>
    </div>
    <hr>
    
    <div class="l4">
    <img class="acrImg card-img-top" src="../../assets/Tablet/xiaomi.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="cardTitle card-title">Xiaomi Pad 6</h5>
      <h4><p class="cardInfo card-text">Xiaomi Pad 6| Qualcomm Snapdragon 870| 144Hz Refresh Rate| 8GB, 256GB| 2.8K+ Display (11-inch/27.81cm)|1 Billion Colours| Dolby Vision Atmos| Quad Speakers| Wi-Fi</p></h4>
    </div>
    </div>
    <hr>
    
    
    <div class="l5">
      <img class="lnvImg card-img-top" src="../../assets/Tablet/microsoft.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="cardTitle card-title">Microsoft Surface Pro 8</h5>
        <h4><p class="cardInfo card-text">Microsoft Surface Pro 8 13 Inches (33 cm) Touch Screen Wi-Fi Tablet With Intel Evo Platform Core I5 8Gb Memory 128Gb Ssd, Windows 10 Pro (Latest Model, 802_11_Ax, Graphite)</p></h4>
      </div>
      </div>
      <hr>
    
    </div>
    </div>
    