<div class="tv">
  <div class="menu" style="position: fixed;"><i>TV</i></div>
  <br><br>
  <div><a id="back" routerLink="/product" class="btn btn-secondary" >Back to Products</a></div>
    <div class="col-md-8">
<div class="l1">
<img class="samsungImg card-img-top" src="../../assets/TV/samsung.jpg" alt="Card image cap">
<div class="card-body">
  <h3 class="cardTitle card-title">Samsung</h3>
  <h4><p class="cardInfo card-text">Samsung 80 cm (32 Inches) Wondertainment Series HD Ready LED Smart TV UA32T4340BKXXL (Glossy Black)</p></h4>
</div>
</div>
<hr>

<div class="l2">
<img class="redmiImg card-img-top" src="../../assets/TV/redmi.jpg" alt="Card image cap">
<div class="card-body">
  <h3 class="cardTitle card-title">Redmi</h3>
  <h4><p class="cardInfo card-text">Redmi 80 cm (32 inches) HD Ready Smart LED Fire TV L32R8-FVIN (Black)</p></h4>
</div>
</div>
<hr>

<div class="l3">
<img class="kdkImg card-img-top" src="../../assets/TV/kodak.jpg" alt="Card image cap">
<div class="card-body">
  <h3 class="cardTitle card-title">Kodak 60</h3>
  <h4><p class="cardInfo card-text">KODAK 60 cm (24 inches) Special Edition Series HD Ready Smart LED TV 24SE5002 (Black)</p></h4>
</div>
</div>
<hr>

<div class="l4">
<img class="tsbImg card-img-top" src="../../assets/TV/toshiba.jpg" alt="Card image cap">
<div class="card-body">
  <h3 class="cardTitle card-title">Toshiba 108</h3>
  <h4><p class="cardInfo card-text">TOSHIBA 108 cm (43 inches) 4K Ultra HD Smart LED Google TV 43C350MP (Silver)</p></h4>
</div>
</div>
<hr>

</div>
</div>