<!-- <p id="name">assignment5 works!</p>

<div class="container ">
<div class="country">
<label for="country">Country :</label>
<select id="country" [(ngModel)]="selectedCountry" (change)="onCountryChange()">
  <option *ngFor="let country of countries" >{{ country }}</option>
</select>
</div>
 [value]="country" -->
<!-- <div class="state">
<label for="state">State :</label>
<select id="state">
  <option *ngFor="let state of filteredStates" >{{ state.name }}</option>
</select>
    </div>

</div> -->
<!-- [value]="state.name" -->
 

<p id="name">ngfor-directive works!</p>


<div class="container ">
<div class="country">
<label for="country">Country:</label>
<select id="country" [(ngModel)]="selectedCountry" (change)="onCountryChange()">
  <option *ngFor="let country of countries" >{{ country }}</option>
</select>
</div>
<div class="state">
    <label for="state">State:</label>
    <select id="state">
      <option *ngFor="let state of filteredStates">{{ state.name }}</option>
    </select>
        </div>
    
    </div>