<!-- <div style="text-align:center">
  <img src="https://repository-images.githubusercontent.com/24195339/87018c00-694b-11e9-8b5f-c34826306d36" width="400" alt="Angular-Logo">
  <h1>
    Welcome to {{ title }}!
  </h1>
  </div> -->
<!-- <app-practice></app-practice> -->
<div><router-outlet></router-outlet></div>

<!--<app-assignment2></app-assignment2>
<hr> -->

<!-- <app-assignment3 [courses]="courses"></app-assignment3> 
<hr> -->

<!-- <app-assignment4></app-assignment4>  -->
<!-- <hr> -->
<!-- <app-assignment5></app-assignment5> -->

<!-- <app-assignment6></app-assignment6> -->

<!-- <app-demodatabinding></app-demodatabinding> -->

<!-- <app-demo></app-demo> -->


<!-- <app-child [msg]="data" (foodEvent)="getDataFromChild($event)"></app-child> -->

<!-- <div app-child></div> -->


<!--<app-ngif></app-ngif> 
<hr>-->


<!-- <app-ng-for></app-ng-for> -->


<!-- <hr> -->
<!-- <app-ng-switch></app-ng-switch>  -->


<!-- <app-demo></app-demo> -->


<!-- <app-attribute-directives></app-attribute-directives> -->

<!-- <p class="text-center" appCustdir> This is custom para </p> -->

<!-- <app-simple-form></app-simple-form> -->
<app-reactive-forms></app-reactive-forms>  
<!-- <hr> -->
<!-- <app-reactive-form-assignment></app-reactive-form-assignment> -->
<!-- <app-assignment7></app-assignment7> -->