.acontainer {
    border: 3px solid rgb(73, 64, 64);
    /* margin-left: 17%; */
    /* margin-top: 2%; */
    /* margin: 50px; */
    padding-left: 20%;
    padding-top: 5%;
    padding-bottom: 5%;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    /* background-image: url('https://cdn.pixabay.com/photo/2015/04/27/11/48/sign-741813_1280.jpg'); */
    display: inline-block;
    margin-left: 8%;
    
}
.nav-items {
    border: none;
}
.nav {
    background-color: lightgrey;
}
.nav-link {
    font-size: large;
}
.nsr {
    /* margin-left: 400%; */
    /* width: 60px; */
    /* margin-top: 13%; */
}
.lgn {
    /* margin-left: 700%; */
    /* margin-top: 10%; */
}
.hom {
    /* margin-top: 11%; */
    color: white;
}
.abs {
    /* margin-top: 8%; */
}
.cts {
    /* margin-top: 7%; */
}