<div class="a-ws a-js a-audio a-video a-canvas a-svg a-drag-drop a-geolocation a-history a-webworker a-autofocus a-input-placeholder a-textarea-placeholder a-local-storage a-gradients a-transform3d a-touch-scrolling a-text-shadow a-text-stroke a-box-shadow a-border-radius a-border-image a-opacity a-transform a-transition a-ember nav-ewc-persistent-hover nav-ewc-compact-view nav-ewc-wider-compact-view">
  <header>
  <nav>
    
    <ul class="nav nav-tabs">
            <li appCustdir class="nav-item">
        <a class="hom nav-link" routerLink="/home"><strong>Home</strong></a>
      </li>
      <li class="nav-item">
        <a class="prodcuct nav-link" routerLink="/product"><strong>Products</strong></a>
      </li>
      <li class="nav-item">
        <a class="post nav-link" routerLink="/post"><strong>Post</strong></a>
      </li>
      <!-- <li class="nav-item">
        <a class="hom nav-link" routerLink="/postdetails"><strong>Post_Details</strong></a>
      </li> -->
      <li class="nav-item">
        <a class="user nav-link" routerLink="/user"><strong>User</strong></a>
      </li>
      <!-- <li class="nav-item">
        <a class="hom nav-link" routerLink="/userdetails"><strong>User_Details</strong></a>
      </li> -->
      <li class="nav-item">
        <a class="abs nav-link" routerLink="/aboutus"><strong>About_Us</strong></a>
      </li>
      <li class="nav-item">
        <a class="cts nav-link" routerLink="/contactus"><strong>Contact_Us</strong></a>
      </li>
      <li class="nav-item">
        <a class="nsr nav-link" routerLink="/newuser"><strong>New_User</strong></a>
      </li>
      <li class="nav-item">
        <a class="lgn nav-link" routerLink="/login"><strong>Login</strong></a>
      </li>
    </ul>
  </nav>
</header>
<div><router-outlet></router-outlet></div>