<div class="container">
<header>
  <nav>
    <ul class="nav nav-tabs">
            <li class="nav-item">
        <a class="hom nav-link" routerLink="/home"><strong>Home</strong></a>
      </li>
      <li class="nav-item">
        <a class="hom nav-link" routerLink="/product"><strong>Products</strong></a>
      </li>
      <li class="nav-item">
        <a class="abs nav-link" routerLink="/aboutus"><strong>About_Us</strong></a>
      </li>
      <li class="nav-item">
        <a class="cts nav-link" routerLink="/contactus"><strong>Contact_Us</strong></a>
      </li>
      <li class="nav-item">
        <a class="nsr nav-link" routerLink="/newuser"><strong>New_User</strong></a>
      </li>
      <li class="nav-item">
        <a class="lgn nav-link" routerLink="/login"><strong>Login</strong></a>
      </li>
    </ul>
  </nav>
</header>
<div><router-outlet></router-outlet></div>