#a{
    margin-left: 34%;
}
.name {
    color: brown;
    /* margin-top: 30px; */
    margin-left: 5%;
}
.courses {
    color: rgb(245, 66, 66);
    /* margin-top: 30px; */
    margin-left: 35%;
}
#text {
    border-color: rgb(150, 137, 137);
}