
    <h1 id="a">assignment3 works!</h1>

<div class="name"><h1>List Of Courses : </h1>
    </div>
    <div class="courses">
    <h2>{{courses}}</h2>
    </div>


    <!-- <div>
        <label><h1>Username</h1></label>
        <input type="text" id="text" class="form-control" [(ngModel)] = "username">
        <p [ngStyle]="{color: 'blue'}">{{ username }}</p>
        <button class="btn btn-primary" [disabled]="username ===''"
        (click)="username= '' ">Reset User</button>
    </div> -->
    <hr>
    <!-- <p *ngIf="serverCreated">Server was created, Server name is {{ username }}</p> -->
   