.container {
    /* margin-left: 10%; */
    margin-top: -1%;
    background-color: lightyellow;
}
.card{
    display: inline-block;
    margin: 15px 10px 10x;
    width: 40%;
    height: 40%;
}
.getd {
    margin-left: 35%;
}
.lImg {
    width: 508px;
    height: 259px;
    /* margin-left: 0.5%; */
}
.wmImg {
    width: 238px;
    margin-left: 27%;
    margin-top: 5%;
}
.tabImg {
    width: 400px;
    height: 338px;
    margin-left: 50%;
    
    margin: 2%;
}
.laptop {
    height: auto;
    margin-left: 10%;
}
.tv {
    margin: 2%;
    height: auto;
}
.tablet {
    width: 500px;
    height: auto;
    margin-left: 10%;
}
.washingMc {
    margin: 2%;
    height: auto;
}