* {
    text-align: center;
    /* margin: 50px; */
}
#name, #username {
    color: purple;
    margin: 30px;
}

#h1 {
    color: brown;
    background-color: burlywood;
}
.page {
    border: 1px solid black;
    width: 650px;
    height: 400px;
    background-color: antiquewhite;
    margin-left: 18%;

}
.submit{
    margin-top: 80px;
}
#result {
    margin: 30px;
}