*{
    text-align: center;
    font-size: large;
    font-style: italic;

}
.container {

    margin-top: 2%;
    display: inline-block;
    background-image: url('https://png.pngtree.com/thumb_back/fw800/background/20200805/pngtree-carbon-fiber-background-in-black-circle-and-golden-line-with-realistic-image_383076.jpg');
    /* background-color: brown; */
    width: 400px;
    color: white;
    margin-left: 39%;
    border-radius: 8%;
}
.age{
    margin-left: 186%;
}
.res {
    margin-top: 5%;
    margin-left: -25%;
    background-color: yellowgreen;
    color: white;
    display: inline-block;
    width: 300px;
    margin-left: 3%;
}