.newuser-container{
    margin-top: 2%;
    margin-left: 15%;
    border: 1px solid lightgray;
    border-radius: 8%;
    padding: 5%;
    width: 900px;
    background-color: lightgrey;
   }
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.sign {
    margin-left: 40%;
    font-size: large;
}
label {
    font-size: larger;
    font-weight: 500;
}