.newuser-container{
    margin-top: 2%;
    border: 1px solid lightgray;
    border-radius: 8%;
    padding: 5%;
    background-image: url('https://img.freepik.com/free-photo/top-view-monochrome-paper_23-2149062051.jpg?size=626&ext=jpg&ga=GA1.2.1671042060.1690264230&semt=ais');
}
header {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}

.sign {
    margin-left: 47%;
    font-size: large;
}
label {
    font-size: larger;
    font-weight: 500;
}