<div class="laptop">
  <div  class="menu" style="position: fixed;"><i>Laptop</i></div>
  <br><br>
  <div><a id="back" routerLink="/product" class="btn btn-secondary">Back to Products</a></div>
  <div class="col-md-8">
    <div class="l1">
      <img class="hpImg card-img-top" src="../../assets/Laptop/hp.jpg" alt="Card image cap">
      <div class="card-body">
        <h3 class="cardTitle card-title"><span style="color: crimson; font-weight: 700;">HP</span></h3>
        <h4>
          <p appCustdir class="cardInfo card-text">HP Laptop 15s, AMD Ryzen 5 5500U, 15.6-inch (39.6 cm), FHD, 8GB DDR4, 512GB SSD,
            AMD Radeon Graphics, Thin & Light, Dual Speakers (Win 11, MSO 2019, Silver, 1.69 kg)</p>
        </h4>
      </div>
    </div>
    <hr>

    <div class="l2">
      <img class="aplImg card-img-top" src="../../assets/Laptop/apple.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="cardTitle card-title">Apple</h5>
        <h4>
          <p class="cardInfo card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </h4>
      </div>
    </div>
    <hr>


    <div class="l3">
      <img class="delImg card-img-top" src="../../assets/Laptop/dell.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="cardTitle card-title">Dell</h5>
        <h4>
          <p class="cardInfo card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </h4>
      </div>
    </div>
    <hr>

    <div class="l4">
      <img class="acrImg card-img-top" src="../../assets/Laptop/acer.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="cardTitle card-title">Acer</h5>
        <h4>
          <p class="cardInfo card-text">Some quick example text to build on the card title and make up the bulk of the
            card's content.</p>
        </h4>
      </div>
    </div>
    <hr>


    <div class="l5">
      <img class="lnvImg card-img-top" src="../../assets/Laptop/lenovo.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="cardTitle card-title">Lenevo</h5>
        <h4>
          <p class="cardInfo card-text">Lenovo IdeaPad Slim 3 Intel Core i5 11th Gen 15.6" (39.62cm) FHD Laptop
            (16GB/512GB SSD/Win 11/Office 2021/2 Years Warranty/Alexa Built-in/3 Month Game Pass/Arctic)</p>
        </h4>
      </div>
    </div>
    <hr>

  </div>
</div>