input.ng-invalid.ng-touched,
select.ng-invalid.ng-touched {
    border: 1px solid red;
}
* {
    margin-top: 1.5%;
    font-weight: 600;
    font-style: italic;
    color: black;
}
.container {
    /* margin-left: 30%; */
    text-align: center;
    background-image: url('https://images.unsplash.com/photo-1524230572899-a752b3835840?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8OHx8d2hpdGUlMjAlMjBiYWNrZ3JvdW5kfGVufDB8fDB8fHww&auto=format&fit=crop&w=500&q=60');
}
.dropdown {
    margin-left: 39%;
    margin-top: 3%;
}
.gender {
    margin-left: 37%;
}
.email {
    margin-left: 5%;
}
.address {
    margin-left: 32%;
    width: 350px;
}
.country {
    margin-left: 32%;
}
.reset {
    margin-left: 10%;
}
