<div class="text">
    <p>ngif works!</p>
    <!-- 
<p *ngIf="showActions">
    Content to render when the condition is true.
</p>
</div> -->

    <div *ngIf="showActions; else elseBlock">
        Content to render when the condition is true.
    </div>

    <ng-template #elseBlock>
        Content to render when the condition is false.
    </ng-template>
    <hr>
    <!-- <button (click) = "show = !show">{{show ?  'hide' : 'show'}}</button> -->
    <!-- Pracrice *ngIf -->



    <button (click)="display = !display"><b>{{display ?'hide' : 'show'}}</b>

    </button>
    
        <div *ngIf="display">
            <b> this will display when clicked to show.</b>
        </div>