<p id="title">Reactive Form Assignment</p>
<div class="container">
    <div class="col-md-6 justify-content-center mt-5">
        <form (ngSubmit)="onSubmit()" [formGroup]="projectForm">

            <div class="formGroup">
                <label for="projectName"> Project Name </label>
                <input class="form-control" formControlName="projectName" type="text" id="projectName"
                    placeholder="Enter project name">
                <small class="text-danger"
                    *ngIf="projectForm.get('projectName').hasError('required') && projectForm.get('projectName').touched">Enter
                    valid Project Name</small>
                <small class="text-danger"
                    *ngIf="projectForm.get('projectName').hasError('projectNameNotAllowed') && projectForm.get('projectName').touched">Enter
                    Project Name other than 'Test'</small>
            </div>

            <div class="formGroup">
                <label for="email"> Email </label>
                <input class="form-control" formControlName="email" type="email" id="email"
                    placeholder="Enter Email Address">
                <small class="text-danger"
                    *ngIf="!projectForm.get('email').valid && projectForm.get('email').touched">Enter valid
                    Email</small>
            </div>

            <div class="formGroup">
                <label for="projectStatus"> Project Status </label>
                <select class="mt-3" id="projectStatus">
                    <option value="stable">Stable</option>
                    <option value="critical">Critical</option>
                    <option value="finished">Finished</option>
                </select>
            </div>

            <button [disabled]="projectForm.invalid" class="sumbit mt-3 btn btn-warning submit-button"> Submit </button>
            <div class="row justify-content-center" *ngIf="isFormSubmitted">
                <h2> Form Data </h2>
                <p> User Name : <strong class="duname">{{projectForm.get('projectName').value}}</strong></p>
                <p> Email Address : <strong class="demail">{{projectForm.get('email').value}}</strong></p>
                <p> Project Status : <strong class="dpstatus">{{projectForm.get('projectStatus').value}}</strong></p>
            </div>
        </form>
    </div>
</div>