.card-img-top {
    width: 650px;
    border-radius: 5%;
}
.washingMachine {
    margin-top: 5%;
    margin-left: 20%;
    display: inline-block;
    /* background-color: beige; */
}

#back {
    margin-left: -15%;
    position: fixed;
    
}
.l1 {
    /* width: 500px; */
    color: brown;
    display: inline-block;
}
.cardTitle{
    color: crimson;
    font-weight: 700;
    margin-left: 20%;
    font-size: x-large;
}
.cardInfo{
    color: brown;
}
.boschImg {
    width: 250px;
    margin-left: 30%;
}
.lgImg {
    width: 250px;
    margin-left: 30%;

}
.nuImg {
    width: 250px;
    margin-left: 30%;

}
.samsungImg {
    width: 250px;
    margin-left: 30%;

}
.panasonicImg {
    width: 250px;
    margin-left: 30%;

}