<div class="washingMachine">
  <div class="menu" style="position: fixed;"><i>Washing-Machine</i></div>
  <br><br>
  <div><a id="back" routerLink="/product" class="btn btn-secondary" >Back to Products</a></div>

    <div><a id="back" routerLink="/product" class="btn btn-secondary" >Back to Products</a></div>
    
        <div class="col-md-8">
    <div class="l1">
    <img class="boschImg card-img-top" src="../../assets/Washing_machine/bosch.jpg" alt="Card image cap">
    <div class="card-body">
      <h3 class="cardTitle card-title"><span style="color: crimson; font-weight: 700;">Bosch 8 Kg 2021 iPad Pro M1 chip</span></h3>
      <h4><p class="cardInfo card-text">Bosch 8 Kg Fully Automatic Front Load Washing Machine (WAJ2846SIN, Silver)</p></h4>
    </div>
    </div>
    <hr>
    
    <div class="l2">
      <img class="lgImg card-img-top" src="../../assets/Washing_machine/lg.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="cardTitle card-title">LG 7.5 Kg 5 Star Smart Inverter Fully-Automatic</h5>
        <h4><p class="cardInfo card-text">LG 7.5 Kg 5 Star Smart Inverter Fully-Automatic Top Load Washing Machine (T75SKMB1Z, Middle Black, TurboDrum | Smart Motion)</h4>
      </div>
      </div>
      <hr>
    
    
    <div class="l3">
    <img class="nuImg card-img-top" src="../../assets/Washing_machine/nu.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="cardTitle card-title">NU 6.5 Kg Fully Automatic</h5>
      <h4><p class="cardInfo card-text">NU 6.5 Kg Fully Automatic Top Load Washing Machine with Soft Close Premium Toughened Glass Lid (WTL65PPG0, Inox Grey)</h4>
    </div>
    </div>
    <hr>
    
    <div class="l4">
    <img class="samsungImg card-img-top" src="../../assets/Washing_machine/samsung.jpg" alt="Card image cap">
    <div class="card-body">
      <h5 class="cardTitle card-title">Samsung 6.0 Kg 5 Star</h5>
      <h4><p class="cardInfo card-text">Samsung 6.0 Kg Inverter 5 Star Fully-Automatic Front Loading Washing Machine (WW60R20GLMA/TL, White, Hygiene Steam)</h4>
    </div>
    </div>
    <hr>
    
    
    <div class="l5">
      <img class="panasonicImg card-img-top" src="../../assets/Washing_machine/panasonic.jpg" alt="Card image cap">
      <div class="card-body">
        <h5 class="cardTitle card-title">Panasonic 6 Kg 5 Star Fully-Automatic (NA-F60LF1HRB)</h5>
        <h4><p class="cardInfo card-text">Panasonic 6 Kg 5 Star Fully-Automatic Top Load Washing Machine ( NA-F60LF1HRB, Grey, Durable Metal Body, 8 Wash Program, Aquabeat wash technology, One touch smart wash, 2022 model)
        </h4>
      </div>
      </div>
      <hr>
    
    </div>
    </div>
    