/* *{
    font-weight: 600;
    font-size: medium;
    font-style: italic;
}
.table {
    border: 3px solid rgb(229, 180, 21);
    text-align: center;
    
    
}
.img{
    align-items: start;
}
.heading{
    background-color: sienna;
    color: white;
    text-align: center;
    font-style: italic;
    
}
.id {
    color: crimson;
}
.name{
    color: blue;
}
.username{
    color: brown;
}
.email{
    color: teal;
}
.phone{
    color: greenyellow;
}
.bs{
    color: cornflowerblue;
}
.catchPhrase{
    color: darkorange;
}
.address{
    color: darksalmon;
}
.comName{
    color: darkslateblue;
}
.website{
    color: cadetblue;
}
.lat{
    color: indianred;
}
.lng{
    color: darkorchid;
} */
/* ========================================================================== */
*{font-weight: 600;
font-size: large;
font-style: italic;
text-align: center;
border-radius: 7%;

}
.heading{
    background-color: sienna;
    color: white;
    text-align: center;
    font-style: italic;
    display: inline-block;
    width: 300px;
   

    
}
.heading{
    background-color: sienna;
    color: white;
    text-align: center;
    font-style: italic;
    font-size: xx-large;
    margin-left: -22%;
}
.tbody{
    background-color: crimson;

}
th{
    background-color:cadetblue;
    font-size: large;
}

h2{
    text-align: center;
    color:coral;
    padding-bottom: 15px;
}
 
#email{
    color:blue
}
.website{
    color: blue;
}
.table{
    background-color: red;
    width: 80%;
    text-align: center;
    
 
}

td{
    background-color: lightyellow;
    color:black;
    height: 90px;
}