<!-- <p>comp1 works!</p>
<button class="btn btn-primary" (click)="hello()">Click me</button>
<div *ngFor="let product of products">
    {{product.id}} 
    {{product.name}}
   </div>
   <hr>

    -->
<!-- <div class="heading"> User Data </div>
<table class="table table-striped table-borderless caption-top table-responsive-md table-active-bg-factor fs-1">
    <thead class="table-info">
        <tr>
            <th class="text-dark">ID</th>
            <th class="text-dark">Name</th>
            <th class="text-dark">Username</th>
            <th class="text-dark">email</th>
            <th class="text-dark">Phone</th>
            <th class="text-dark">bs</th>
            <th class="text-dark">catchPhrase</th>
            <th class="text-dark">address</th>
            <th class="text-dark">Compony Name</th>
            <th class="text-dark">Website</th>
            <th class="text-dark">Latitude</th>
            <th class="text-dark">Longitude</th>

        </tr>
    </thead>
    <tbody class="tbody">
        <tr *ngFor="let data of datas">
            <td class="id">{{ data.id }}</td>
            <td class="name">{{ data.name }}</td>
            <td class="username">{{ data.username }}</td>
            <td class="email">{{ data.email }}</td>
            <td class="phone">{{ data.phone }}</td>
            <td class="bs">{{ data.company.bs }}</td>
            <td class="catchPhrase">{{ data.company.catchPhrase }}</td>
            <td class="address"> {{ data.address.street }}, {{ data.address.suite }}, {{ data.address.city }},
                {{ data.address.zipcode }} </td>
            <td class="comName">{{ data.company.name }}</td>
            <td class="website">{{ data.website }}</td>
            <td class="lat">{{ data.address.geo.lat }}</td>
            <td class="lng">{{ data.address.geo.lng }}</td>



        </tr>
    </tbody>
</table> -->
<!-- ============================================================ -->
<div class="contaimer">
<div class="heading"> User Data </div>
<table class="table table-striped table-borderless caption-top table-responsive-md table-active-bg-factor">
    <thead>
        <tr class="border-black">
            <th>ID</th>
            <th>Name</th>
            <th>Username</th>
            <th>email</th>
            <th>stree</th>
            <th>suite</th>
            <th>city</th>
            <th>ZipCode</th>
            <th>geo(lng)</th>
            <th>geo(lat)</th>
            <th>phone</th>
            <th>website</th>
            <th>company.name</th>
            <th>company.catchPhrase</th>
            <th>company.bs</th>
        </tr>
    </thead>
    <tbody class="tbody">
        <tr *ngFor="let user of users" class="border-black">
            
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.username}}</td>
            <td id="email">{{user.email}}</td>
            <td>{{user.address.street}}</td>
            <td>{{user.address.suite}}</td>
            <td>{{user.address.city}}</td>
            <td>{{user.address.zipcode}}</td>
            <td>{{user.address.geo.lat}}</td>
            <td>{{user.address.geo.lng}}</td>
            <td>{{user.phone}}</td>
            <td class="website">{{user.website}}</td>
            <td>{{user.company.name}}</td>
            <td>{{user.company.catchPhrase}}</td>
            <td>{{user.company.bs}}</td>
        </tr>
    </tbody>
</table>
</div>